.contenido-cocteles{
    display: block;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  
  @media screen and (min-width:600px) {
    .contenido-cocteles{
      display: none;
    }
  }

  
  .nav-link{
    color: rgba(255, 255, 255, 0.575) !important;
}

.nav-link.active{
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
}

.nav-tabs{
    border-bottom: 2px solid white !important;
}

.tabs_cocteles{
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 63px;
  padding: 0;
}
  
  
  .card{
      width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  }
  
  .cardd_cocteles {
    position: relative;
    width: 100%;
    height: 260px;
    border-radius:8px;
    cursor: pointer;
    transition: all 120ms;
    overflow: hidden;
  }
  
  .cardd_cocteles:active {
    transform: scale(.95);
  }
  
  .cardd_cocteles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .ordenar-btn{
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 65px;
    background: #181818;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 65px;
    transition: all 0.2s ease-in;
    z-index: 10;
  }
  
  .cardd_cocteles:hover .ordenar-btn{
    bottom: 0;
  }
  
  .cardd_cocteles:active .ordenar-btn {
    height: 65px;
  }
  
  .image_cocteles {
    position: absolute;
    top: 50%;
    left: 32%;
    width: 100px;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(3px 3px 5px #18181815);
    transform: translate(-50%, -50%);
    transition: all .5s ease-in;
  }
  
  .image_cocteles img{
    width: 230px;
    height: 269px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  
  .cardd_cocteles:hover .image_cocteles {
    top: 50%;
    left: 5%; 
    width: 120px;
    height: auto;
    animation: none;
    filter: blur(0.8px);
    opacity: 0.9;
    transform: rotate(0deg) translate(30%, -19%);
  }


  
  .text_cocteles {
    position: absolute;
    top: 18%;
    left: -315%;
    color: #ffffff;
    transition: all .3s ease-in;
    z-index: 2;
    text-shadow: 1px 3px 4px rgb(0, 0, 0);
  }
  
  .text_cocteles span {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .text_cocteles p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .cardd_cocteles:hover .text_cocteles {
    top: 15%;
    left: 3%;
  }
  
  
  .no-disponible{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    z-index: 15;
  }